:root {
  --gray-100: #B0B0B0;
  --green-100: #05E1C7;
  --green-101: #06CAC6;
  --green-200: #008E7A;
  --green-201: #006C7C;
  --green-300: #002F1F;
  --bg-100: #32353D;
  --bg-200: #1D2F3B;
  --text-100: #EEEEEE;
  --text-200: #A5A5B0;
  --red-100: #FF4747;
  --red-101: #DC3F3F;
  --gray-100: #575B69;
  --gray-101: #383A3E;
  --gray-102: #282A30;
  --gray-200: #9093A0;
  --gray-300: #82858C;
  --border-100: #515562;
  --transparence-100: #FFFFFF1A;
  --transparence-200: #FFFFFF0D;
  --red-transparence: #FF424233;
  --yellow-100: #ECB51F;
  --pink-100: #FF0066;
}
