:root {
  --color-primary: #05e1c7;
  --background-color: #32353d;
  --color-text: #eeeeee;
  --pur-black: #000000;
  --black: #252529;
  --white: #ffffff;
  --white-bg: #f5f5f7;
  --ornaments-bg: #212124;
  --toast-info-bg: rgba(66, 66, 66, 0.92);
  --deep-gray: #595959;
  --link-hover: rgba(255, 255, 255, 0.17);
  --border-light: #dde7ee;
  --light-gray: #ebebeb;

  --red: #d92424;
}
