.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74.063rem;
  height: 4rem; // 64px
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--bg-100);
  border-top: 1px solid var(--black-100);
  z-index: 1000;
}
