/* -------------------- Responsive ---------------------*/

/* -------------------- Code ---------------------*/
.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-100);
    width: 1173px;
    padding: 0px 374px;
    margin-bottom: 70px;
    height: 70px;
    border-bottom: 1px solid var(--black-100);
}

.navbar-left {
    display: inline-flex;
    gap: 10px;

    img {
        width: 28px;
    }

    h1 {
        display: flex;
        align-items: center;
        white-space: nowrap;

        color: var(--text-100);
        font-size: var(--font-size-md);
        font-weight: bold;
    }
}

.navbar-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    button {
        color: var(--text-100);
        font-weight: bold;
        font-size: --font-size-md;
        height: 40px;
        padding: 10px 10px;

        background-color: var(--bg-100);
        border: 0;
        border-radius: 25px;

        &:hover {
            background-color: var(--gray-100);
            cursor: pointer;
        }

        &:active {
            background-color: var(--green-transparance-100);
            color: var(--green-100);
            cursor: pointer;
        }
    }
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
    button {
        background-color: var(--bg-100);
        border: 0;
        padding: 0;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 25px;
            height: 25px;
        }
    }

    img {
        width: 40px;
    }
}
